@import url(https://fonts.googleapis.com/css?family=Roboto:300);

*{
    margin: 0;
    font-family: Roboto;
    letter-spacing: 0.5px;
}

/* Header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    width: 100%;
    height: 100px;
}

.header a{
    text-decoration: none;
}

.right-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}

.left-header img{
    width: 200px;
    margin-left: 15px;
}

.login-button{
    background-color: #FFBF00;
    border: none;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    color: black;
}

.register-button{
    background-color: #1975F4;
    border: none;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    color: white;
}

/* Body */

.banner{
    background-image: url('Assets/photo-1.jpg');
    background-size: cover;
    background-position: center center;
    object-fit: contain;
    height: 500px;
    width: 100%;
}

.banner-container{
    margin-left: 40px;
    padding-top: 150px;
    height: 190px;
}

.banner-title{
    font-size: 64px;
    font-weight: 800;
    padding-bottom: 0.3rem;
    color: #333333;
}

.banner-description{
    width: 45rem;
    line-height: 1.5;
    padding-top: 1rem;
    font-size: 21px;
    max-width: 630px;
    height: 180px;
    text-align: justify;
    color: #777777;
    font-weight: lighter;
}

.about-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about h1{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    font-size: 28px;
}

.about-right img{
    width: 100%;
    width: 328px;
    margin-right: 15px;
}

.about-left{
    max-width: 600px;
    height: 180px;
    text-align: justify;
    margin-left: 10px;
}

.about-left h3{
    font-weight: lighter;
    color: #333333;
    line-height: 1.5;
}

.feature{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4%;
    width: 100%;
}

.feature h1{
    align-items: center;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #333333;
}

.feature img{
    width: 300px;
}

.steps{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 30%;
    margin-bottom: 5%;
}

.steps h3{
    display: block;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    margin-top: 5%;
    color: #333333;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #eeeeee;
    height: 50px;
}

.copyright h5{
    font-weight: lighter;
    font-size: 16px;
    color: #333333;
}


